<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:installLocation="auto" android:versionName="1">
	<uses-sdk android:minSdkVersion="10" android:targetSdkVersion="23" />
	<application android:label="PasswordManager.Droid" android:icon="@drawable/ic_launcher"></application>
</manifest>